p,.label{
    font-family: 'Lato' , sans-serif;
    font-weight: 300;
}

h2{
    font-family: 'Roboto Slab' ,sans-serif;
    font-weight: 400;
    color: #000000;
}

a{
    text-decoration: none;
    color: inherit;
}

.date{
    display: inline;
}

.hide{
    display: none;
}
.show{
    display: block;
}
.editor{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.3125em;
    padding: 0.65em 1em;
}